<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Carreras_SP.Properties.Settings.CarrerasBD_LocalConnectionString"
            connectionString="Data Source=DESKTOP-E0U8FA9\SQLSERVER19;Initial Catalog=CarrerasBD_Local;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>